@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>STV Services</h3>

<p>
    Streaming services such as Hulu, Netflix, and more provide specific channels and shows. With the growing number of streaming services, it can be difficult to choose one that provides the entertainment you want.
    STV Services simplifies the process of determining which streaming service is suitable for the user. Through STV Services, users can easily search and favorite channels and/or shows that correspond with their entertainment preferences.
</p>
