@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>STV Services</h3>

<address>
    UMKC Capstone 451R - Group 8
</address>

<address>

    Team Members:<br>

    <strong>Chale Abad:</strong>   <a href="mailto:cla7b6@mail.umkc.edu">cla7b6@mail.umkc.edu</a><br />
    <strong>Mazin Al Ismaili:</strong>   <a href="mailto:mmarq2@mail.umkc.edu">mmarq2@mail.umkc.edu</a><br />
    <strong>Ciara Jones:</strong>   <a href="mailto:cla7b6@mail.umkc.edu">caj386@mail.umkc.edu</a><br />
    <strong>Francisca Okojie:</strong>   <a href="mailto:cla7b6@mail.umkc.edu">faoyb4@mail.umkc.edu</a><br />
    <strong>Justin Balino:</strong>   <a href="mailto:cla7b6@mail.umkc.edu">jlb3n5@mail.umkc.edu</a><br />
</address>