<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/font-awesome.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" />
</head>
<body style='background: #000'> <!-- uses w3layout stylesheet and black background-->
    <div>
        @RenderBody()
    </div>
</body>
</html>
